

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

  @media (min-width: 979px) { 
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}

  }

	.riley-hero img {
		width:242px;
	}