

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

@media (min-width: 979px) { 
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}
}

.hero-pull {
  	max-height: 256px;
  	max-width: 256px;
}

.riley-hero {
	-webkit-transition: opacity 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out, -moz-transform 1.5s ease-in-out;
	-ms-transition: opacity 1.5s ease-in-out, -ms-transform 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out, -o-transform 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
	-moz-transform: rotate(-65deg);
	-webkit-transform: rotate(-65deg);
	-o-transform: rotate(-65deg);
	-ms-transform: rotate(-65deg);
	transform: rotate(-65deg);
}

.riley-hero.in {
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

table.contactus  {
	text-align: center;
}

table.contactus [class^="icon-"]:before, table.contactus [class*=" icon-"]:before {
	font-size: 150%;
}

table.contactus td, table.contactus th, table.contactus .icon-large::before, .nav .icon-large::before {
	vertical-align: middle !important;
	text-align: center;
}

table.contactus tr:first-child, table.contactus tr:first-child th {
	border-top: 0 transparent !important;
}

.donation-btn, .download-btn {
  padding: 18px 28px;
  font-size: 36px;
  line-height: normal;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;

}

@media (max-width: 480px) {
	.btn {
		margin: 2px inherit;
	}
}